<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles.css">

    <title>
        About
    </title>

</head>

<body>

    <%- include('partials/head.ejs') %>
   
    <main>
        <div class="container">
            <div class="subcontainer">
                <p class="about"> Hi! I'm SJ. I've loved the art form of pixel art ever since I was a
                    little kid playing games in the 2000s. I got into making pixel art in 2020 
                    (after some failed attempts here and there in the years prior) and now have 
                    no plans to stop. Some of the pieces you can see on this website are personal,
                    some are commission work I've completed. I would say static pieces are more of my
                    strength, but I enjoy animating as well. Thanks for checking out my portfolio 
                    website!
                    <br><br>
                    Commission status: OPEN
                    <br><br>
                    Contact me through Discord at SinisterJelly#9932
                    <br><br>
                    or via e-mail: sjpixeling@gmail.com
                </p>
            </div>
        </div>

    </main>
    <hr>
    <%- include("partials/footer.ejs") %>

</body>
</html>