<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/lightbox.css">

    <title>
        Portraits
    </title>

</head>

<body>

    <%- include('partials/head.ejs') %>

    <header>
                <h1> <a href="/misc">&#8592</a> Animations <a href="/landscapes">&#8594</a></h1>
    </header>
   
    <main>
        <div class="container">
            <div class="subcontainer">

                <div class="grid">
                    <a href="images/animations/final_for_frozen_treats-export.gif" data-title="Looped animation commission for Frozen Treats" data-lightbox="frozen-treats-img" class="img-animations tall"></a>
                    <a href="images/animations/frog1_jump.gif" data-title="Frog" data-lightbox="frog-img" class="img-animations wide"></a>
                    <a href="images/animations/forklift.gif" data-title="Forklift driver" data-lightbox="forklift-img" class="img-animations wide"></a>
                    <a href="images/animations/monster1_idle.gif" data-title="Commission for Baronnerie Games" data-lightbox="monster1-img" class="img-animations"></a>
                    <a href="images/animations/monster2_idle.gif" data-title="Commission for Baronnerie Games" data-lightbox="monster2-img" class="img-animations"></a>
                    <a href="images/animations/monster3.gif" data-title="Commission for Baronnerie Games" data-lightbox="monster3-img" class="img-animations"></a>
                    <a href="images/animations/warrior_green.gif" data-title="Commission for Baronnerie Games" data-lightbox="warrior-img" class="img-animations"></a>
                    <a href="images/animations/penguin_idle_exp.gif" data-title="Commission for u/Cruset on Reddit" data-lightbox="penguin-idle-img" class="img-animations"></a>
                    <a href="images/animations/penguin_fire_exp.gif" data-title="Commission for u/Cruset on Reddit" data-lightbox="penguin-fire-img" class="img-animations"></a>
                    <a href="images/animations/jackal_walk.gif" data-title="Jackal walk cycle" data-lightbox="jackal-img" class="img-animations"></a>
                    <a href="images/animations/crown2.gif" data-title="Crown" data-lightbox="crown-img" class="img-animations"></a>

                </div>
            </div>
        </div>

    </main>
    <hr>
    <%- include("partials/footer.ejs") %>
<script src="/lightbox-plus-jquery.js"></script>
</body>
</html>