h1 {
    color:rgb(149, 183, 90);
    text-align: center;
}

body{
    background-color: rgb(36, 35, 34);
    background-image: url(img/landscapes/valley-red.png);
}

section{
    color: white;
    column-count: 2;
    column-width: auto;
    text-align: center;
}
.portfolio-parts {
    display: block;
    text-align: center;
}

.container {
    display: inline;
    position: relative;
}
  
.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.flex-container > div {
    width: 50%;;
    
    margin: 0px;
    padding: 1%;
}

.image {
    image-rendering: crisp-edges;
    max-height:100%; max-width:100%;
}
.row {
    display: flex;
    align-content: center;
    justify-content: center;

}

.image-half {
    image-rendering: crisp-edges;
    padding: 1%;
    margin: 0;
    max-width:49%; max-height:auto;
}

.image-link {
    opacity: 1;
    display: inline;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 5px;
}

.container:hover .image-link {
    opacity: 0.5;
}

.container:hover .middle {
    opacity: 1;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -75%);
    -ms-transform: translate(-50%, -50%)
}

.text {
    background-color: #744632;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 5px;
}