<footer>

    <p><a href="https://twitter.com/lemon_bramble"><img src="/images/social-media/twitter.png"></a><a href="https://www.tumblr.com/blog/sinisterjelly"><img src="/images/social-media/tumblr.png"></a> &nbsp Copyright &copy; SinisterJelly 2023 
    </p>
</footer>
