 <header>
    <h1>SJ art portfolio</h1>
    <div class="header-links">
        <ul>
            <li><a href="/">Portfolio</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>
    <hr>
</header>